<div>
  <label>Select build and number</label>
  <select name="selectedBuildName"
          ng-model="$ctrl.name"
          ng-change="$ctrl.selectedName()">
    <option ng-repeat="build in $ctrl.builds track by build.$id" value="{{ build.$id }}" ng-bind="build.$id"></option>
  </select>
  <span>#</span>
  <select name="selectedBuildNumber"
          ng-model="$ctrl.number"
          ng-change="$ctrl.onChange({prop: 'number', value: $ctrl.number})">
    <option ng-repeat="(buildNumber, buildResult) in $ctrl.buildResults track by buildNumber" value="{{ buildNumber }}" ng-bind="buildNumber"></option>
  </select>
</div>
