<div class="compare-content">
  <div class="row">
    <h2 class="col-xs-12">{{ compare.title }}</h2>
  </div>
  <div class="row">
    <div class="col-md-6">
      <select name="selectLeftBuildGroup" ng-model="compare.selected.left.group" ng-options="group as group for (group, builds) in compare.availableBuilds"></select>
      <build-selector builds="compare.availableBuilds[compare.selected.left.group]" selected="compare.selected.left"
                      on-change="compare.selectionChanged('left', prop, value)"></build-selector>
      <uib-accordion close-others="false">
        <uib-accordion-group ng-repeat="testList in compare.leftTests | orderBy:'_id.testClassName' track by $index" panel-class="{{compare.panelClass(testList)}}">
          <uib-accordion-heading>
            <span> {{ testList._id.testClassName | className }}</span>
            <span class="badge" ng-bind="testList.tests.length"></span>
            <div class="pull-right" ng-class="compare.testIconClass(testList)">
              <iron-icon icon="{{ compare.testIcon(testList) }}"></iron-icon>
            </div>
          </uib-accordion-heading>
          <ul class="list-group">
            <li class="list-group-item" ng-repeat="test in testList.tests | orderBy:'testName'">
              <strong> {{ test.testName | className }}</strong>
              <paper-badge icon="cloud-off" ng-show="test.exceptionType === 'org.openqa.selenium.WebDriverException'" alt="Connection exception"></paper-badge>
              <em> {{ test.errorMessage }}</em>
            </li>
          </ul>
        </uib-accordion-group>
      </uib-accordion>
    </div>
    <div class="col-md-6">
      <select name="selectRightBuildGroup" ng-model="compare.selected.right.group" ng-options="group as group for (group, builds) in compare.availableBuilds"></select>
      <build-selector builds="compare.availableBuilds.masters" selected="compare.selected.right"
                      on-change="compare.selectionChanged('right', prop, value)"></build-selector>
      <uib-accordion close-others="false">
        <uib-accordion-group ng-repeat="testList in compare.rightTests | orderBy:'_id.testClassName' track by $index" panel-class="{{compare.panelClass(testList)}}">
          <uib-accordion-heading>
            <span> {{ testList._id.testClassName | className }}</span>
            <span class="badge" ng-bind="testList.tests.length"></span>
            <div class="pull-right" ng-class="compare.testIconClass(testList)">
              <iron-icon icon="{{ compare.testIcon(testList) }}"></iron-icon>
            </div>
          </uib-accordion-heading>
          <ul class="list-group">
            <li class="list-group-item" ng-repeat="test in testList.tests">
              <strong> {{ test.testName | className }}</strong>
              <paper-badge icon="cloud-off" ng-show="test.exceptionType === 'org.openqa.selenium.WebDriverException'" alt="Connection exception"></paper-badge>
              <em> {{ test.errorMessage }}</em>
            </li>
          </ul>
        </uib-accordion-group>
      </uib-accordion>
    </div>
  </div>
</div>
