<div class="stability-container">
  <!--<h2>build: {{ $ctrl.build.name }}#{{ $ctrl.build.number }}</h2>-->
  <form class="form-horizontal" name="$ctrl.settings">
    <fieldset class="form-group">
      <label class="col-md-2">Select build</label>
      <div class="col-md-10">
        <build-selector groups="$ctrl.availableGroups"
                        builds="$ctrl.availableBuilds[$ctrl.build.group]"
                        selected="$ctrl.build"
                        on-change="$ctrl.selectionChanged(prop, value)"></build-selector>
      </div>
    </fieldset>
    <fieldset class="form-group">
      <label class="col-md-2">Builds count</label>
      <div class="col-md-2">
        <input class="form-control" type="number" ng-model="$ctrl.buildsCount">
      </div>
      <div class="col-md-8">
        <paper-slider pin min="10" max="50" bind-from="$ctrl.buildsCount" on-update="$ctrl.buildsCountUpdated(value)" style="width: 100%;"></paper-slider>
      </div>
    </fieldset>
    <fieldset class="form-group">
      <div class="col-xs-12">
        <paper-button raised ng-click="$ctrl.fetchFailedOfBuild()">
          <iron-icon icon="get-app"></iron-icon>
          Re-fetch
        </paper-button>
        <paper-button raised ng-click="$ctrl.selectAll()">
          <iron-icon icon="done"></iron-icon>
          select all
        </paper-button>
        <paper-button raised ng-click="$ctrl.selectNone()">
          <iron-icon icon="clear"></iron-icon>
          select none
        </paper-button>
        <paper-button raised ng-click="$ctrl.clearResults()">
          <iron-icon icon="block"></iron-icon>
          clear results
        </paper-button>
        <paper-button class="text-danger" raised ng-click="$ctrl.clearAll()">
          <iron-icon icon="block"></iron-icon>
          clear all
        </paper-button>
      </div>
    </fieldset>
    <fieldset class="form-group" ng-repeat="test in $ctrl.tests">
      <div class="col-md-4">
        <paper-icon-button icon="clear" ng-click="$ctrl.removeTest(test.testClass)"></paper-icon-button>
        <span>{{ test.testClass | className }}</span>
      </div>
      <div class="col-md-4">
        <ul class="list-group">
          <li class="list-group-item" ng-repeat="testMethod in test.methods track by $index">
            <label>
              <input type="checkbox" ng-model="test.selected"><span> {{ testMethod }}</span>
            </label>
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <ul class="list-group" ng-if="test.results">
          <li class="list-group-item" ng-repeat="(testName, result) in test.results">
            <uib-progressbar class="progress-striped" max="result.count" value="result.failed" type="{{result.stability > 0.3 ? 'danger' : 'warning'}}">
              <span class="text-success test-result-stable" ng-if="result.failed === 0"><iron-icon icon="done-all"></iron-icon> Stable</span>
              <em ng-if="result.failed > 0" uib-tooltip="{{ result.failed }} / {{ result.count }} ({{ result.stability | percentage:0 }})">{{ result.failed }} / {{ result.count }} ({{ result.stability | percentage:0 }})</em>
            </uib-progressbar>
          </li>
        </ul>
      </div>
    </fieldset>
    <fieldset class="form-group">
      <div class="col-xs-4">
        <paper-input-container>
          <label>Class (full quelified name)</label>
          <input is="iron-input" ng-model="$ctrl.newTest.testClass">
        </paper-input-container>
      </div>
      <div class="col-xs-4">
        <paper-input-container>
          <label>Method (comma separated)</label>
          <input is="iron-input" ng-model="$ctrl.newTest.methods">
        </paper-input-container>
      </div>
      <div class="col-xs-4">
        <paper-button raised ng-click="$ctrl.addNewTest()">
          <iron-icon icon="add"></iron-icon>
          <span>Add</span>
        </paper-button>
      </div>
    </fieldset>
    <fieldset class="form-group">
      <div class="col-xs-12">
        <paper-button raised ng-click="$ctrl.fetchStability()">
          <iron-icon icon="send"></iron-icon>
          <span>Go!</span>
        </paper-button>
      </div>
    </fieldset>
  </form>

  <!--<ul class="list-group">-->
    <!--<li class="list-group-item" ng-repeat="test in $ctrl.tests">-->
      <!--<span>{{test.testClass}}</span>-->
      <!--<ul class="list-group">-->
        <!--<li class="list-group-item" ng-repeat="(testName, result) in test.results">-->
          <!--<span>{{testName}}</span>-->
          <!--<uib-progressbar class="progress-striped" max="result.count" value="result.failed" type="{{result.stability > 0.3 ? 'danger' : 'warning'}}">-->
            <!--<span class="text-success test-result-stable" ng-if="result.failed === 0"><iron-icon icon="done-all"></iron-icon> Stable</span>-->
            <!--<em ng-if="result.failed > 0">{{ result.failed }} / {{ result.count }} ({{ result.stability | percentage:0 }})</em>-->
          <!--</uib-progressbar>-->
        <!--</li>-->
      <!--</ul>-->
    <!--</li>-->
  <!--</ul>-->
  <!--<code>-->
    <!--<pre>{{$ctrl.stability | json}}</pre>-->
  <!--</code>-->
</div>
