<div class="stability-container container-fluid">
  <!--<h2>build: {{ $ctrl.build.name }}#{{ $ctrl.build.number }}</h2>-->
  <div class="row">
    <h3 class="col-xs-6">Tests Stability</h3>
    <div class="col-xs-4 pull-right compare-legend-container">
      <paper-icon-button class="pull-right compare-legend-opener" icon="help" title="Show legend" ng-click="$ctrl.toggleLegend()"></paper-icon-button>
      <div class="compare-legend" ng-class="$ctrl.legendShown ? 'compare-legend-open' : ''">
        <p>
          When clicking &quot;Go!&quot; The page retrieves the stability statistics of the branch‘s last <code>N</code> failed tests (Aborted are ignored)
          When clicking &quot;Add&quot; near the build selector – all failed test of the selected build are added. (Build Name and/or Build number), &quot;GO!&quot; is required afterwards.
          Individual tests may be fetched as well by specifying its Class & Method
        </p>
      </div>
    </div>
  </div>

  <form class="form-horizontal" name="$ctrl.settings">
    <fieldset class="form-group">
      <label class="col-md-3">Failed tests of</label>
      <div class="col-md-6">
        <build-selector groups="$ctrl.availableGroups"
                        builds="$ctrl.availableBuilds[$ctrl.build.group]"
                        selected="$ctrl.build"
                        on-change="$ctrl.selectionChanged(prop, value)"></build-selector>
      </div>
    </fieldset>
    <fieldset class="form-group">
      <label class="col-md-3">Previous builds count <iron-icon icon="info-outline" uib-tooltip="Calculate stability of the last {{$ctrl.buildsCount}} builds (NOTE: that this is not related to the selected build id below)"></iron-icon></label>
      <div class="col-md-6">
        <paper-slider class="paper-slider" pin min="10" max="50" bind-from="$ctrl.buildsCount" on-update="$ctrl.buildsCountUpdated(value)"></paper-slider>
      </div>
      <div class="col-md-1">
        <input class="form-control" type="number" ng-model="$ctrl.buildsCount">
      </div>
    </fieldset>
    <div class="row">
      <div class="col-xs-12">
        <paper-button raised class="btn-run-stability ladda-button" ladda="$ctrl.reFetchLoading" ng-click="$ctrl.fetchFailedOfBuild()" uib-tooltip="Fetch stability of last {{ $ctrl.buildsCount }} builds starting from selected build">
          <iron-icon icon="send"></iron-icon>
          <span>Fetch stability</span>
        </paper-button>
      </div>
    </div>
    <hr>
    <fieldset class="form-group">
      <label class="col-xs-3">Show above</label>
      <div class="col-xs-4">
        <paper-slider class="paper-slider" pin min="0" max="1" step="0.1" bind-from="$ctrl.filterFailedPercent" on-update="$ctrl.filterFailedPercentChanged(value)"></paper-slider>
      </div>
      <div class="col-xs-2">
        <output>{{ $ctrl.filterFailedPercent * 100 }}&#37; failed</output>
      </div>
      <div class="col-xs-3">
        <paper-input-container>
          <iron-icon icon="search" prefix></iron-icon>
          <label>Test Class Name</label>
          <input is="iron-input" ng-model="$ctrl.filterTestName" ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 300, 'blur': 0 } }">
        </paper-input-container>
      </div>
    </fieldset>
    <fieldset class="form-group">
      <div class="col-xs-12">
        <ul class="list-group">
          <li class="list-group-item slide-in" ng-repeat="testWrap in $ctrl.testWraps | classNameOrder | stabilityFilter:$ctrl.filterFailedPercent | filter:$ctrl.filterTestName track by $index">
            <strong>{{ testWrap.testClassName | className }}</strong>
            <test-list tests="testWrap.tests" stability-count="$ctrl.buildsCount"></test-list>
          </li>
        </ul>
      </div>
    </fieldset>
  </form>

  <!--<ul class="list-group">-->
    <!--<li class="list-group-item" ng-repeat="test in $ctrl.tests">-->
      <!--<span>{{test.testClass}}</span>-->
      <!--<ul class="list-group">-->
        <!--<li class="list-group-item" ng-repeat="(testName, result) in test.results">-->
          <!--<span>{{testName}}</span>-->
          <!--<uib-progressbar class="progress-striped" max="result.count" value="result.failed" type="{{result.stability > 0.3 ? 'danger' : 'warning'}}">-->
            <!--<span class="text-success test-result-stable" ng-if="result.failed === 0"><iron-icon icon="done-all"></iron-icon> Stable</span>-->
            <!--<em ng-if="result.failed > 0">{{ result.failed }} / {{ result.count }} ({{ result.stability | percentage:0 }})</em>-->
          <!--</uib-progressbar>-->
        <!--</li>-->
      <!--</ul>-->
    <!--</li>-->
  <!--</ul>-->
  <!--<code>-->
    <!--<pre>{{$ctrl.stability | json}}</pre>-->
  <!--</code>-->
</div>
