<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">UI Dashboard</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li ui-sref-active="active"><a ui-sref="compare({buildName: 'master', buildNumber: '1118'})">Compare</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ facade.currentStateWidget.title }} <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li ui-sref-active="active" ng-repeat="widget in facade.widgets">
                            <a ui-sref="widget({widgetId: widget.id})">{{ widget.title }}</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <span class="navbar-right"><login-btn></login-btn></span>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div class="container">
    <div class="row dynamic-widgets-container">
        <div class="widget-container col-md-12">
            <paper-material class="widget" elevation="1">
                <paper-drawer-panel responsive-width="768px" force-narrow="true">
                    <paper-header-panel drawer>
                        <paper-toolbar>
                            <!--<div class="title">Change Content</div>-->
                        </paper-toolbar>
                        <paper-menu>
                            <paper-item class="widget-link" ng-repeat="widget in facade.widgets" ng-click="facade.gotoState(widget.id)" title="{{ widget.title }}">
                                <paper-item-body two-line>
                                    <div>{{ widget.title }}</div>
                                    <!--<div secondary>{{ widget.subTitle }}</div>-->
                                </paper-item-body>
                            </paper-item>
                            <paper-item class="widget-link" ng-click="facade.gotoState('stability')" title="Test Stability">
                                <paper-item-body two-line>
                                    <div>Test Stability</div>
                                    <div secondary>Check test&apos;s stability</div>
                                </paper-item-body>
                            </paper-item>
                        </paper-menu>
                    </paper-header-panel>
                    <paper-header-panel main>
                        <paper-toolbar>
                            <paper-icon-button icon="menu" paper-drawer-toggle></paper-icon-button>
                            <div class="title">{{ facade.currentStateWidget.title }}</div>
                        </paper-toolbar>
                        <div class="main-panel-container">
                            <div class="widget-content" ui-view></div>
                        </div>
                    </paper-header-panel>
                </paper-drawer-panel>
            </paper-material>
        </div>
    </div>
</div>
