<div class="row">
    <div class="col-lg-7">
        <div class="row">
            <div class="col-lg-7">
                <select class="form-control" ng-model="pushQueueCtrl.selected" ng-options="member.fname for member in pushQueueCtrl.members"></select>
                <button type="button" class="btn btn-info col-lg-3 col-md-offset-1 pull-right" ng-click="pushQueueCtrl.addToQueue()" style="width: 105px;">Push</button>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-7">
                <h3>{{pushQueueCtrl.empty}}</h3>
                <ul class="list-group">
                    <li ng-repeat="member in pushQueueCtrl.queue" class="list-group-item">
                        <div class="row">
                            <div class="col-lg-7"> {{ pushQueueCtrl.getMemberByID(member.id).fname }}</div>
                            <div class="col-lg-3 col-md-offset-2">
                                <button type="button" class="btn btn-info pull-right" ng-click="pushQueueCtrl.removeFromQueue(member)">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>