<div class="row user-profile">
  <div class="col-md-12">
    <div class="row">
      <div class="col-xs-12">
        <paper-card heading="{{ $ctrl.user.displayName }}" image="{{ $ctrl.user.photoURL }}">
          <div class="card-content">
            <div class="row">
              <div class="col-xs-12">
                Preferences
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <push-state-btn></push-state-btn>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <login-btn></login-btn>
              </div>
            </div>
          </div>
          <div class="card-actions">
            <paper-button ng-click="$ctrl.logout()" ng-if="!$ctrl.isAnon">Logout</paper-button>
            <paper-button ng-click="$ctrl.linkToUser(true)" ng-if="!$ctrl.user || $ctrl.isAnon">New user</paper-button>
            <paper-button ng-click="$ctrl.linkToUser()" ng-if="!$ctrl.user || $ctrl.isAnon">Existing user</paper-button>
          </div>
        </paper-card>
      </div>
    </div>
  </div>
</div>
