<div class="bs-example" ng-app="tabs" ng-controller="ciStatusController">
    <table class="table">
        <thead>
        <tr>

            <!-- Trigger the modal with a button -->
            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#newMemberModal" style="margin-bottom:10px;">Add New Job</button>
        </tr>
        <tr>
            <th>Job Name</th>
            <th>Build Status</th>
            <th>Freeze</th>
        </tr>
        </thead>
        <tbody>
        <tr class="{{ trStatus(job) }}" ng-repeat="job in nameJson | unique:'jobName'" >
            <td style="height: 30px;line-height: 30px;width:40%;" data-toggle="tooltip" title="{{ job.jobName }}"><h4>{{ displayName(job) | limitTo:30 }}</h4></td>
            <td style="height: 30px;line-height: 30px;width:30%;"><img ng-src="{{ chooseImg(job) }}"> {{ status(job) }}<div ng-show="fadeShow"> aaaa</div></td>
            <td style="height: 30px;line-height: 30px;width:30%;"><div class="btn-group">
                    <button ng-click="toggleFreeze(job,'onButton')" class="{{ job.freeze.onStyle }}">On</button>
                    <button ng-click="toggleFreeze(job,'offButton')" class="{{ job.freeze.offStyle }}">Off</button>
            </div></td>


        </tr>
        </tbody>
    </table>


    <!-- Modal -->
    <div id="newMemberModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add New Job</h4>
                </div>
                <div class="modal-body">
                    <form novalidate class="simple-form" role="form" name="addJobForm">
                        <div class="form-group">
                            Job Name: <input type="text" class="form-control required" name="jobName" placeholder="e.g. MaaS-Platf-UI-Branch-master" ng-model="job.name" required/><br />
                              <span style="color:red" ng-show="addJobForm.jobName.$dirty && addJobForm.jobName.$invalid">
                                <span ng-show="addJobForm.jobName.$error.required">Job name required as in Jenkins</span>
                        </div>
                        <div class="form-group">
                            Job Alias: <input type="text" class="form-control" ng-model="job.alias" /><br />
                            <span>* short name to use</span>
                        </div>

                </div>
                <div class="modal-footer">
                    <input type="submit" ng-click="addJob(job)" class="btn btn-default" value="Add" data-dismiss="modal" ng-disabled="addJobForm.$invalid"/>
                    </form>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

</div>