<div class="bs-example" ng-app="tabs" ng-init="loadJobs()">
    <table class="table">
        <thead>
        <tr>
            <th colspan="3">
                <!-- Trigger the modal with a button -->
                <button type="button" class="btn btn-default mainBtns" data-toggle="modal" data-target="#newMemberModal"
                        ng-click="dataDismiss = ' '">Add New Job
                </button>
                <!-- Refresh The Job List -->
                <button class="btn btn-default ladda-button mainBtns" ladda="loading" ng-click="updateAllJobs()">
                    <span class="ladda-label">Refresh</span>
                </button>
            </th>
        </tr>
        <tr>
            <th>Job Name</th>
            <th>Build Status</th>
            <th>Freeze</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-hide="loading" ng-class="styleJobRow(job)" ng-repeat="job in listOfJobs | unique:'name'">
            <td style="height: 30px;line-height: 30px;width:40%;" data-toggle="tooltip" title="{{ job.name }}">
                <h4><a ng-href="{{'http://mydtbld0021.isr.hp.com:8080/jenkins/job/' + job.name}}" target="_blank">{{ (job.alias || job.name) | limitTo:30 }}</a></h4>
            </td>
            <td style="height: 30px;line-height: 30px;width:30%;">
                <img class="statusImg" ng-src="{{ chooseImg(job) }}">
                {{ status(job) }}
            </td>
            <td style="height: 30px;line-height: 30px;width:30%;">
                <div class="btn-group">
                    <button ng-click="toggleFreeze(job,'onButton')" class="{{ job.freeze.onStyle }}">On</button>
                    <button ng-click="toggleFreeze(job,'offButton')" class="{{ job.freeze.offStyle }}">Off</button>
                </div>
            </td>
        </tr>
        </tbody>
    </table>


    <!-- Modal -->
    <div id="newMemberModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <form novalidate class="simple-form" role="form" name="addJobForm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Add New Job</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            Job Name: <input type="text" class="form-control required" name="jobName"
                                             placeholder="e.g. MaaS-Platf-UI-Branch-master" ng-model="job.name"
                                             required/><br/>

                            <div style="color:red" ng-hide="!validateForm">{{validationErrorMessage}}</div>
                        </div>
                        <div class="form-group">
                            Job Alias: <input type="text" class="form-control" ng-model="job.alias"/><br/>
                            <span>* short name to use</span>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <input type="submit" ng-click="addJob(job)" ng-class="addJobFormSendBtn"
                               value="{{ addJobResultButtonValue }}" data-dismiss="{{ dataDismiss }}"
                               ng-disabled="addJobForm.$invalid"/>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
