<div class="bs-example" ng-app="tabs" ng-init="ciJobsCtrl.loadJobs()">
    <div class="row">
        <div class="col-xs-12">
            <!-- Trigger the modal with a button -->
            <paper-fab class=" pull-right" mini icon="add" title="New Job" data-toggle="modal"
                       data-target="#newJobModal" ng-click="ciJobsCtrl.dataDismiss = ' '"></paper-fab>
            <!-- Refresh The Job List -->
            <paper-button raised class="ladda-button mainBtns" ladda="loading" ng-click="ciJobsCtrl.updateAllJobs()">
                <iron-icon icon="refresh"></iron-icon>
                <span class="ladda-label">Refresh</span>
            </paper-button>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>Job Name</th>
                        <th>Build Status</th>
                        <th>Freeze</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-class="ciJobsCtrl.styleJobRow(job)" ng-repeat="job in ciJobsCtrl.listOfJobs.masters">
                        <td data-toggle="tooltip" title="{{ job.name }}">
                            <h4><a ng-href="{{'http://mydtbld0021.hpeswlab.net:8080/jenkins/job/' + job.name}}" target="_blank">{{ (job.alias || job.name) | limitTo:30 }}</a></h4>
                        </td>
                        <td>
                            <img class="statusImg" ng-src="{{ ciJobsCtrl.chooseImg(job) }}" ng-hide="ciJobsCtrl.loading">
                            <span ng-hide="ciJobsCtrl.loading">{{ ciJobsCtrl.status(job) }}</span>
                        </td>
                        <td>
                            <div class="btn-group">
                                <paper-toggle-button data-job="{{ job.name }}" ci-freeze-state-toggle="job.freeze.state"></paper-toggle-button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- Modal -->
    <div id="newJobModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <form novalidate class="simple-form" role="form" name="ciJobsCtrl.addJobForm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Add New Job</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            Job Name: <input type="text" class="form-control required" name="jobName"
                                             placeholder="e.g. MaaS-Platf-UI-Branch-master" ng-model="ciJobsCtrl.job.name"
                                             required/><br/>

                            <div style="color:red" ng-hide="!ciJobsCtrl.validateForm">{{ciJobsCtrl.validationErrorMessage}}</div>
                        </div>
                        <div class="form-group">
                            Job Alias: <input type="text" class="form-control" ng-model="ciJobsCtrl.job.alias"/><br/>
                            <span>* short name to use</span>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <input type="submit" ng-click="ciJobsCtrl.addJob(ciJobsCtrl.job)" ng-class="ciJobsCtrl.addJobFormSendBtn"
                               value="{{ ciJobsCtrl.addJobResultButtonValue }}" data-dismiss="{{ ciJobsCtrl.dataDismiss }}"
                               ng-disabled="ciJobsCtrl.addJobForm.$invalid"/>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
