<form class="form-signin">
  <h2 class="form-signin-heading">Please sign in</h2>
  <paper-input-container>
    <label>Name</label>
    <input is="iron-input" ng-model="modalCtrl.displayName" required>
  </paper-input-container>
  <paper-input-container>
    <label>Email</label>
    <input is="iron-input" ng-model="modalCtrl.email" required>
  </paper-input-container>
  <paper-input-container>
    <label>Password</label>
    <input is="iron-input" type="password" ng-model="modalCtrl.password" required>
  </paper-input-container>
  <paper-button raised ng-click="modalCtrl.login()">Sign in</paper-button>
</form>
<form class="form-signin">
  <h2 class="rom-signin-heading">Sign in using Google</h2>
  <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="modalCtrl.loginWithProvider('google')">Sign in with Google</button>
</form>
