@import './ci-status/ci-status';

$body-top-padding: 70px;
$body-bottom-padding: 10px;
$green-color: #03AF10;

html {
  height: 100%;
}

/*
 * This is added to support fixed navbar
 */
body {
  padding-top: $body-top-padding;
  padding-bottom: $body-bottom-padding;
  height: 100%;
}

.ui-facade {
  display: block;
  height: 100%;
}

[ui-view] {
  height: 100%;
  .inner-title {
    text-align: center;
  }
}

.container {
  height: 100%;
}

.list-group.borderless {
  border: 0;
  box-shadow: 0 0 0 transparent;
  .list-group-item {
    border: 0;
  }
}

.under-construction {
  display: none !important;
}

.fixed-widgets-container {
  height: 40%;
  min-height: 200px;
}

.dynamic-widgets-container {
  height: 100%;
  min-height: 200px;
}

.widget-container {
  height: 100%;
}

.widget {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 10px;
}

.widget-content {
  padding: 15px 10px;
}

.widget-link {
  cursor: pointer;
}

.single-tab-navigation-header {
    margin: 5px 0;
    font-size: x-large;
}

.selectize-dropdown, .selectize-dropdown.form-control {
    margin: 0;
}

.tabs-content {
    padding-top: 10px;
    padding-bottom: 10px;
    height: 700px;
}

.member-selector,
.selectize-input {
    line-height: 30px;
}

.push-button {
    background-color: #5bc0de;
    color: white;
}

.profile-image {
    width: 30px;
    margin-right: 20px;
    height: auto;
}

login-btn {
    .profile-image {
        margin: auto;
    }
}

.push-queue {
    /* To complement the scale transformation */
    margin-top: 15px;
}

.push-queue li {
    transition: all 200ms ease-in-out;
}

.push-queue .active {
    transform: scale(1.1);
    box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
}

ui-ci-status .table tbody td {
    height: 30px;
    line-height: 30px;
    width: 30%;
}

ui-ci-status .table tbody td:first-child {
    width: 40%;
}

.selectize-dropdown-content {
    max-height: 400px;
}

.panel-group {
    overflow: auto;
}

.new-member-button {
    margin-bottom: 10px;
}

.member-image {
    max-width: 100px;
}

.panel-group-member-image {
    width: 25px;
}

.head-mark > img {
    width: 30px;
}

.statusImg {
    height: 25px;
    width: 25px;
}

.mainBtns {
    margin-bottom: 5px;
}

.build-selector {
  [uib-dropdown] {
    cursor: pointer;
  }
  .ind-build-result-aborted {
    color: red;
  }
}

.compare-content {
  h3, .h3 {
    margin-bottom: 20px;
  }
  uib-accordion {
    .panel-title > a,
    [uib-accordion-header] {
      outline: 0;
    }
  }
  .test-compare-accordion-heading {
    outline: 0;
    cursor: pointer;
  }
}

.compare-legend-container {
  position: relative;
  .compare-legend {
    position: absolute;
    top: 50%;
    right: 50px;
    z-index: 1;
    min-width: 150px;
    padding: 7px 12px;
    background: white;
    line-height: 2.4em;
    box-shadow: 0 3px 5px rgba(0,0,0,.3);
    transition: all 250ms ease-out;
    transform: scale(0);
    transform-origin: top right;
    &.compare-legend-open {
      transform: scale(1);
    }
  }
}

test-stability {
  .progress {
    margin-bottom: 5px;
    .test-result-stable {
      white-space: nowrap;
    }
  }
}

.stability-container {
  .btn-run-stability {
    background-color: $green-color;
    color: white;
    &:disabled,
    &[disabled] {
      background-color: darken($green-color, 10);
    }
    &:hover {
      background-color: darken($green-color, 5);
    }
  }
}

.fadeOut {
    opacity: 0.5;
}

.fadeIn {
    transition: opacity .25s ease-in-out;
    opacity: 1;
}

[ngclipboard] {
    cursor: pointer;
}

.slide-in {
  &.ng-animate {
    transition: all 0.3s ease-in-out;
  }
  &.ng-enter-stagger {
    transition-delay: .1s;
    transition-duration: 0s;
  }
  &.ng-enter {
    opacity: 0;
    transform: translate3d(-50px,0,0);
    &.ng-enter-active {
      opacity: 1;
      transform: translate3d(0,0,0);
    }
  }
  &.ng-leave {
    opacity: 1;
    transform: translate3d(0,0,0);
    &.ng-leave-active {
      opacity: 0;
      transform: translate3d(50px,0,0);
    }
  }
}

#floatingCirclesG {
    position: relative;
    width: 125px;
    height: 125px;
    margin: auto;
    align-content: center;
    transform: scale(0.6);
}

.f_circleG {
    position: absolute;
    background-color: rgb(255, 255, 255);
    height: 22px;
    width: 22px;
    border-radius: 12px;
    animation-name: f_fadeG;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
    animation-direction: normal;
}

#frotateG_01 {
    left: 0;
    top: 51px;
    animation-delay: 0.45s;
}

#frotateG_02 {
    left: 15px;
    top: 15px;
    animation-delay: 0.6s;
}

#frotateG_03 {
    left: 51px;
    top: 0;
    animation-delay: 0.75s;
}

#frotateG_04 {
    right: 15px;
    top: 15px;
    animation-delay: 0.9s;
}

#frotateG_05 {
    right: 0;
    top: 51px;
    animation-delay: 1.05s;
}

#frotateG_06 {
    right: 15px;
    bottom: 15px;
    animation-delay: 1.2s;
}

#frotateG_07 {
    left: 51px;
    bottom: 0;
    animation-delay: 1.35s;
}

#frotateG_08 {
    left: 15px;
    bottom: 15px;
    animation-delay: 1.5s;
}

@keyframes f_fadeG {
    0% {
        background-color: rgb(0, 0, 0);
    }
    100% {
        background-color: rgb(255, 255, 255);
    }
}

@keyframes scan {
  from {
    transform: skew(-25deg) translate3d(-10px,0,0);
  }
  to {
    transform: skew(-25deg) translate3d(300px,0,0);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1);
  }
  30% {
    transform: scale(1.1);
  }
  40% {
    transform: scale(1.25);
  }
  55% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}
