/*
 * This is added to support fixed navbar
 */
body {
    padding-top: 70px;
    padding-bottom: 10px;
}

.dashboard-header {
    margin-bottom: 20px;
}

.main-stage {
    box-shadow: 0 0 15px 3px rgba(0, 0, 0, .3);
}

.tabs-navigation-list {
    background-color: gainsboro;
    height: 700px;
    box-shadow: inset -10px 0 25px -17px rgba(0, 0, 0, .3);
}

.single-tab-navigation-header {
    margin: 5px 0;
    font-size: x-large;
}

.selectize-dropdown, .selectize-dropdown.form-control {
    margin: 0;
}

.tabs-content {
    padding-top: 10px;
    padding-bottom: 10px;
    height: 700px;
}

.widget-link {
    cursor: pointer;
}

.member-selector,
.selectize-input {
    line-height: 30px;
}

.push-button {
    background-color: #5bc0de;
    color: white;
}

.profile-image {
    width: 30px;
    margin-right: 20px;
}

.push-queue {
    /* To complement the scale transformation */
    margin-top: 15px;
}

.push-queue li {
    transition: all 200ms ease-in-out;
}

.push-queue .active {
    transform: scale(1.1);
    box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
}

ui-ci-status .table tbody td {
    height: 30px;
    line-height: 30px;
    width: 30%;
}

ui-ci-status .table tbody td:first-child {
    width: 40%;
}

.selectize-dropdown-content {
    max-height: 400px;
}

.panel-group {
    overflow: auto;
}

.new-member-button {
    margin-bottom: 10px;
}

.member-image {
    max-width: 100px;
}

.panel-group-member-image {
    width: 25px;
}

.dynamic-widgets-container {
    margin-top: 10px;
}

.widget-container {
    height: 340px;
}

@media (min-height: 900px) {
    .widget-container {
        height: 400px;
    }
}

.widget {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 10px;
}

.widget-content {
    padding: 15px 10px;
}

.head-mark > img {
    width: 30px;
}

.statusImg {
    height: 25px;
    width: 25px;
}

.mainBtns {
    margin-bottom: 5px;
}

.fadeOut {
    opacity: 0.5;
}

.fadeIn {
    -webkit-transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -ms-transition: opacity .25s ease-in-out;
    -o-transition: opacity .25s ease-in-out;
    transition: opacity .25s ease-in-out;
    opacity: 1;
}

[ngclipboard] {
    cursor: pointer;
}

#floatingCirclesG {
    position: relative;
    width: 125px;
    height: 125px;
    margin: auto;
    align-content: center;
    transform: scale(0.6);
    -o-transform: scale(0.6);
    -ms-transform: scale(0.6);
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
}

.f_circleG {
    position: absolute;
    background-color: rgb(255, 255, 255);
    height: 22px;
    width: 22px;
    border-radius: 12px;
    -o-border-radius: 12px;
    -ms-border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    animation-name: f_fadeG;
    -o-animation-name: f_fadeG;
    -ms-animation-name: f_fadeG;
    -webkit-animation-name: f_fadeG;
    -moz-animation-name: f_fadeG;
    animation-duration: 1.2s;
    -o-animation-duration: 1.2s;
    -ms-animation-duration: 1.2s;
    -webkit-animation-duration: 1.2s;
    -moz-animation-duration: 1.2s;
    animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-direction: normal;
    -o-animation-direction: normal;
    -ms-animation-direction: normal;
    -webkit-animation-direction: normal;
    -moz-animation-direction: normal;
}

#frotateG_01 {
    left: 0;
    top: 51px;
    animation-delay: 0.45s;
    -o-animation-delay: 0.45s;
    -ms-animation-delay: 0.45s;
    -webkit-animation-delay: 0.45s;
    -moz-animation-delay: 0.45s;
}

#frotateG_02 {
    left: 15px;
    top: 15px;
    animation-delay: 0.6s;
    -o-animation-delay: 0.6s;
    -ms-animation-delay: 0.6s;
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
}

#frotateG_03 {
    left: 51px;
    top: 0;
    animation-delay: 0.75s;
    -o-animation-delay: 0.75s;
    -ms-animation-delay: 0.75s;
    -webkit-animation-delay: 0.75s;
    -moz-animation-delay: 0.75s;
}

#frotateG_04 {
    right: 15px;
    top: 15px;
    animation-delay: 0.9s;
    -o-animation-delay: 0.9s;
    -ms-animation-delay: 0.9s;
    -webkit-animation-delay: 0.9s;
    -moz-animation-delay: 0.9s;
}

#frotateG_05 {
    right: 0;
    top: 51px;
    animation-delay: 1.05s;
    -o-animation-delay: 1.05s;
    -ms-animation-delay: 1.05s;
    -webkit-animation-delay: 1.05s;
    -moz-animation-delay: 1.05s;
}

#frotateG_06 {
    right: 15px;
    bottom: 15px;
    animation-delay: 1.2s;
    -o-animation-delay: 1.2s;
    -ms-animation-delay: 1.2s;
    -webkit-animation-delay: 1.2s;
    -moz-animation-delay: 1.2s;
}

#frotateG_07 {
    left: 51px;
    bottom: 0;
    animation-delay: 1.35s;
    -o-animation-delay: 1.35s;
    -ms-animation-delay: 1.35s;
    -webkit-animation-delay: 1.35s;
    -moz-animation-delay: 1.35s;
}

#frotateG_08 {
    left: 15px;
    bottom: 15px;
    animation-delay: 1.5s;
    -o-animation-delay: 1.5s;
    -ms-animation-delay: 1.5s;
    -webkit-animation-delay: 1.5s;
    -moz-animation-delay: 1.5s;
}

@keyframes f_fadeG {
    0% {
        background-color: rgb(0, 0, 0);
    }

    100% {
        background-color: rgb(255, 255, 255);
    }
}

@-o-keyframes f_fadeG {
    0% {
        background-color: rgb(0, 0, 0);
    }

    100% {
        background-color: rgb(255, 255, 255);
    }
}

@-ms-keyframes f_fadeG {
    0% {
        background-color: rgb(0, 0, 0);
    }

    100% {
        background-color: rgb(255, 255, 255);
    }
}

@-webkit-keyframes f_fadeG {
    0% {
        background-color: rgb(0, 0, 0);
    }

    100% {
        background-color: rgb(255, 255, 255);
    }
}

@-moz-keyframes f_fadeG {
    0% {
        background-color: rgb(0, 0, 0);
    }

    100% {
        background-color: rgb(255, 255, 255);
    }
}